{block content}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="panel-card p-4">
            <h1 class="h4 mb-3">Přihlášení</h1>
            {control signInForm}
        </div>
    </div>
</div>
{/block}
